
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-danger mt-5">Error</h1>
            <h2 class="text-danger">Something went wrong, please try again or contact with us.</h2>
        </div>
    </div>
</div>
