/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.ScrollStyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgb(222, 226, 230);
}

.ScrollStyle::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(222, 226, 230);
}

.ScrollStyle::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: rgb(102, 108, 114);
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.dropdown-toggle::after{
    vertical-align:0.18em;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 400px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

/*------------------Colors*/
.ImgHover:hover {
    opacity: 0.8;
}
.BtnHover:hover {
    background-color: rgb(250,250,250);
    cursor:pointer;
}
.BtnHover:hover>option{
    background-color: #fff;
}
.DarkBlue {
    background-color: rgb(19,46,109);
}
.BorderColor {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
 .BoxShadowNone:focus{
     box-shadow:none;
 }
.BoxShadow:focus{
    box-shadow:rgba(37, 62, 215,04) 10px 10px inset;
}

nav.navbar-dark ul li>a {
    color: white !important;
}
nav.navbar-dark ul li>a:hover {
    color: lightgrey !important;
}
.DDMenu {
    background-color: #fff;
    display:none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding-top: 1em;
    padding-bottom: 1em;
    position: absolute;
    z-index: 2000;
}
    .DDMenu a {
        color: #3658A7 !important;
    }
    .DDMenu > a {
        position:absolute;
        text-decoration: underline;
        left: 20px;
        top: 20px;
        color: #132E6D !important;
        font-weight:bold;
    }
    .DDMenu > div.col-12 {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
    }

.DDNav a.nav-link.dropdown-toggle:hover ~ .DDMenu{
    display:flex;
}
.DDNav a.nav-link.dropdown-toggle:active ~ .DDMenu {
    display: flex;
}
.DDMenu:hover{
    display:flex;
}
.TextStyleBlue {
    color: rgb(54,88,167);
    font-size: 1.2em;
}
/*------------------Border*/
.borderLR {
    border-right: 1px solid lightgrey !important;
    border-left: 1px solid lightgrey !important;
}
.borderL {
    border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.VR {
    border-left: 1px solid lightgrey;
}
.InputStyle {
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;

}
    .InputStyle:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;
    }
    .InputStyle:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;
    }
.LinkStyle {
    color: rgb(150,150,150) !important;
    
    display:inline-block;
}
    .LinkStyle:hover {
        color: rgb(130,130,130) !important;
        text-decoration:none;
    }
.LinkWhiteStyle a{
    color: white;
    display: block;
    padding:0.25em;
}

    .LinkWhiteStyle > a:hover{
        color:  lightgray;
        text-decoration: none;
    }
    /*------------------Wrapper*/
#serchResWrap{
    position:absolute;
    padding-left:149px;
    top:38px;
    width:100%;
    z-index:1;
}
#serchResList {
    border: 1px solid lightgrey;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: white;
    
}
    #serchResList div {
        height: 30px;
        line-height: 30px;
        padding-left: 12px;
        color: gray;
        cursor: pointer;
    }
    #serchResList div:hover {
        background-color:rgba(0,0,0,0.05);
        color:dimgrey;
        
    }
        #liveChatBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
}
#liveChatBtn:hover{
    opacity:0.8;
}
#liveChatWrap {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    height: 400px;
    width: 300px;
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(240,240,240,0.9);
}
#closeChat{
    border-top-right-radius:0.25em;
    text-align:center;
    width:50px;
}
#abortChat {
    border-top-left-radius: 0.25em;
    text-align: center;
    width: 50px;
}
    #abortChat:hover{
       background-color: rgb(240,73,89)!important;
       cursor:pointer;
    }
    #messagingChatWrap {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25em;
        height: 332px;
    }
#closeChat:hover {
    background-color: rgb(255,200,20) !important;
    cursor: pointer;
}
#messagingChat {
    width: 100%;
    height: 280px;
    overflow-y: auto;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
#newMessage {
    float:left;
    height: 50px;
    resize: none;
    border: none;
    width: 80%;
    outline: none;
    border-bottom-left-radius:0.25em;
}
#sendNewMessage{
    width:20%;
    line-height:50px;
    text-align:center;
    background-color:white;
    float:right;
    border-bottom-right-radius:0.25em;
    cursor:pointer;
}
    #sendNewMessage:hover{
        background-color:whitesmoke;
    }
.operatorMessage > div {
    display: inline-block;
    border-radius: 0.25em;
    margin: 5px;
    padding: 8px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.userMessage{
    text-align:right;
}
.userMessage > div {
    display: inline-block;
    border-radius: 0.25em;
    margin: 5px;
    padding: 8px;
    background-color: rgba(54, 88, 167, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
#favoritesWrap small {
    display: block;
    position: absolute;
    width: 20px;
    text-align: center;
    right: -13px;
    top: -7px;
    border-radius: 50%;
    background-color: rgba(19,46,109,0.6);
    line-height: 18px;
    color: white;
    font-size: 10px;
}
#ShoppingBagWrap small {
    display: block;
    position: absolute;
    width: 20px;
    text-align: center;
    right: -13px;
    top: -7px;
    border-radius: 50%;
    background-color: rgba(19,46,109,0.6);
    line-height: 18px;
    color: white;
    font-size: 10px;
}
.WrapperAuth {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2000;
    left: 0;
    top: 0;
}
.AuthPos{
    position:absolute;
    z-index:3000;
    top:170px;
    width:750px;
    min-height:500px;
    left:0;
    right:0;
    margin:auto;
}
.HeaderTab {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    font-size:1.8em;
    color:rgb(54,88,167);
    padding-bottom:5px;
}
.HeaderTab:hover {
    cursor: pointer;
    border-color:rgb(19,46,109);
}
.HeaderTabSelected {
    border-color: rgb(19,46,109);
    color: rgb(19,46,109);
}
.MyAccountWrapper {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgb(255,255,255);
    z-index:3000;
    min-width:130px;
    min-height:50px;
}
@media (max-width: 575.98px) {
    .DDMenu {
        position: relative;
    }
    .WrapperAuth {
        position: static;
        height: auto;
        width: auto;
        background-color: none;
    }
    .AuthPos {
        position: static;
        width:100%;
        height:auto;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 560px;
    }
    .DDNav a.nav-link.dropdown-toggle:focus ~ .DDMenu {
        display: flex;
    }
}